header.header
    .header__logo
        span.header__logo-letter a
        span.header__logo-figure
    .header__nav
        nav
            ul.topmenu
                li
                    a(href='') Home
                li
                    a(href='') About
                li
                    a(href='') Portfolio
                li
                    a(href='') Services
                li
                    a(href='') Page
                li
                    a.down(href='') Elements
                    div.submenu
                        div.submenu-left-side
                            div.submenu-left-side__inner
                                h1 Elements
                                a(href='') Client
                                a(href='') Progress Bar
                                a(href='') Header
                                a(href='') Footer
                                a(href='') Accordions
                                a(href='') Pricing
                            div.submenu-left-side__inner
                                h1 Elements 2
                                a(href='') Contact Forms
                                a(href='') Counters
                                a(href='') Icon box
                                a(href='') Subscribe Newsletter
                                a(href='') Action button
                                a(href='') Video Section
                        div.submenu-right-side
                            div.submenu-right-side__inner
                                h1 Elements 3
                                a(href='') Creative_Shape
                                a(href='') Blog box
                                a(href='') Testimonial
                                a(href='') Services
                                a(href='') About us
                                a(href='') Faq
                            div.submenu-right-side__inner
                                h1 Elements 4
                                a(href='') 404
                                a(href='') Coming Soon Page
                                a(href='') Button
                                a(href='') Typography
                                a(href='') Team
                                a(href='') Structure

    .header__buttons
        .header__buttons-contact
            a Contact us
            span.header__buttons-figure
        .header__buttons-menu
            span
            span
            span

