.header
    .header__logo
    span.header__logo-text Rtrack
    .header__points
        nav
            ul.menu
                li.header__points-list
                    a.header__points-list-projects(href='/archive') Проекты
                    .triangle.blure
                    ul.submenu
                        li
                            .header__points-text-favorite
                            a(href='#') RS digital
                            .header__points-list-num.active-point
                                span.header__points-num.active 4
                                span.header__points-num 5
                        li
                            .header__points-text-favorite
                            a(href='#') Rocketware
                            .header__points-list-num.active.active-point
                                span.header__points-num.active 4
                                span.header__points-num 12
                        li
                            .header__points-text-favorite
                            a(href='#') Самообразование
                            //span.active 4
                            .header__points-list-num
                                span.header__points-num 10
                        li
                            .header__points-text
                            a(href='#') Mecto.ru
                            //span.active 4
                            .header__points-list-num
                                span.header__points-num 15
                        li
                            .header__points-text
                            a(href='#') Travel-promo
                            .header__points-list-num.active-point
                                span.header__points-num.active 22
                                span.header__points-num 8
                        li
                            .header__points-text
                            a(href='#') B2B оружие
                            .header__points-list-num.active-point
                                span.header__points-num.active 9
                                span.header__points-num 30
                        li
                            .header__points-text
                            a(href='#') Кинотеатр "Москва"
                            //span.active 4
                            .header__points-list-num
                                span.header__points-num 54
                        li
                            .header__points-text
                            a(href='#') RS digital
                            .header__points-list-num.active-point
                                span.header__points-num.active 4
                                span.header__points-num 5
                        li
                            .header__points-text
                            a(href='#') RS digital
                            .header__points-list-num.active-point
                                span.header__points-num.active 4
                                span.header__points-num 5
                        li
                            .header__points-text
                            a(href='#') RS digital
                            .header__points-list-num.active-point
                                span.header__points-num.active 4
                                span.header__points-num 5
                li.header__points-list
                    a(href='/events') Задачи для меня
                li.header__points-list
                    a(href='/contact') База знаний
                li.header__points-list
                    a(href='/contact') Все задачи
                li.header__points-list
                    a(href='/contact') Просмотренные
    .header__profile
        .header__star
        .header__bell
        ul.menu.header__profile-person
            li
                a(href='#').header__profile-photo
                ul.submenu__profile-person
                    li
                        a(href='#') Профиль
                    li
                        a(href='#') Статистика
                    li
                        a(href='#') Токены
                    li
                        a(href='#') API
                    li
                        a(href='#') Выход

