.pin-wrapper
    ul.nav.pinnednav
        li
            a(href='#link-one') Краткое обучение
        li
            a(href='#link-two') Общая информация
        li
            a(href='#link-three') Видео-уроки
        li
            a(href='#link-four') Отзывы
