.task-block
    .select-wrapper
      .select-wrapper__text
          span Риск культура
          p — Сформировать мотивацию к дальнейшему развитию
      .select-wrapper__info
          span.select-wrapper__info-data 06.05.2020
          .select-wrapper__info-points
              span.select-wrapper__info-comment 0
              span.select-wrapper__info-star 2
      select.js-select2.work
          option.inwork(value='IN') В работе
          option.done(value='IN') Сделан
          option.ok(value='IN') Всё ОК
      select.js-select2.people
          option.inwork(value='ON') Константин Серг...
          option.done(value='ON') Константин Серг...
          option.ok(value='ON') Константин Серг...
      select.js-select2.speed
          option.inwork(value='UN') Максимум
          option.done(value='UN') Максимум
          option.ok(value='UN') Максимум
