.select2-container--default .select2-selection--single
  background-color: #D9F5E6
  border-radius: inherit
  border: none
  outline: none
  padding-top: 8px
  padding-left: 8px
  height: 33px

.select2-container--default .select2-selection--single .select2-selection__rendered
  color: #32C979
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 16px

.select2-container--default .select2-selection--single .select2-selection__arrow
  top: 3px
  right: 8px

.select2-container--default .select2-selection--single .select2-selection__arrow b
  background-image: url('/images/arrow.png')
  background-color: transparent
  background-size: contain
  border: none !important
  height: 8px !important
  width: 11px !important
  margin: auto !important
  top: 11px !important
  left: auto !important

