h1(id='link-one') Краткое обучение
p Банки все больше осознают важность риск-культуры как области, необходимой для эффективного управления рисками. Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области рисков до сбалансированной системы, в центре которой находится оптимальное для организации соотношение риска и доходности, а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт»
blockquote
  p «Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области рисков до сбалансированной системы»
p На ранней стадии я поймал себя на мысли, что большинство примеров — это простые сайты. Идея обычно соответствует следующему формату: «Посмотрите на эти линии и 2 окружности: если предположить, что это набор масштабов, то окружность, которая более удалена от центра, перевешивает, а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт».
h2(id='link-two') Общая информация
p Если ранее бизнес рассматривал риск-подразделения как сдерживающий фактор развития, то сейчас они выступают в роли партнеров. Формальными правилами достичь такого результата вряд ли возможно, требуется соответствующая корпоративная культура.
div
span Риск-культура - это устоявшиеся нормы поведения сотрудников, направленные на выявление рисков и управление ими.
h3 Какие могут быть задачи у данного решения:
ul
  li Сформировать у линейных руководителей набор управленческих знаний и навыков, необходимых для эффективного выполнения ими своих обязанностей в соответствии со стратегией Банка и корпоративной моделью компетенций;
  li Сформировать мотивацию к дальнейшему развитию;
  li Выявить высоко-потенциальных руководителей Банка для дальнейшего карьерного развития.
h2 Для чего это нужно?
ol
  li Команда и управление людьми;
  li Побуждение, мотивирование подчиненных и коллег к участию в улучшениях;
  li Эффективное управление людьми;
  li Определение факторов, влияющих на вовлеченность в коллективе использование управленческих инструментов / рычагов влияния на эти факторы; подбор адекватных / убедительных тезисов и аргументов для различных целевых аудиторий влияния; воодушевление людей в личном общении;
  li Построение эффективных команд, лидерство и личная эффективность;
  li Принятие на себя лидерства и выбор стиля лидерства;
  li Фиксация и анализ своих эмоций с целью повышения эффективности профессиональной деятельности;
  li Навык постоянного личностного развития
