extends /layout/app

block content
  .container
    div.seo-section
        div.seo-section__left-side
        div.seo-section__right-side
            span About SEO agency
            h1 Our SEO marketing team integrates strategy
            p We’re on a mission to start a conversation with your customers in this fast connected world.
            p.seo-section__right-side--text-small Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            a Learn more
    div.seo-text-section
        div.seo-text-section__left-side
            span We’re Offering
            h1 SEO Services with talent specialist & Digital business
        div.seo-text-section__right-side
            a See More Services
    div.seo-cards-section
        div.seo-cards-section__left-side
            div.seo-cards-section__card
                div.seo-cards-section__card--img
                div.seo-cards-section__card--title Content Marketing
                div.seo-cards-section__card--text
                    | We craft great content that keep your users interested and coming back for more. I have mixed feelings about the explosion of web content.
        div.seo-cards-section__center-side
            div.seo-cards-section__card
                div.seo-cards-section__card--top-img
                div.seo-cards-section__card--title Link Building
                div.seo-cards-section__card--text
                    | Links are still a powerful ranking factor in SEO. However, acquiring the wrong links could lead to a Google Penalty.
            div.seo-cards-section__card
                div.seo-cards-section__card--bot-img
                div.seo-cards-section__card--title SEO & Social media
                div.seo-cards-section__card--text
                    | Your data tells a story that we need to understand. We’ve built a proprietary report that pulls important SEO data from Google Search Console
        div.seo-cards-section__right-side
            div.seo-cards-section__card
                div.seo-cards-section__card--img
                div.seo-cards-section__card--title AdWords & PPC
                div.seo-cards-section__card--text
                    | Is your Google AdWords budget disappearing without sales or calls? Or are you new to pay per click advertising, PPC?
