.video-wraper
  .video-wraper__video.video-wraper__video1
  .video-wraper__text
    p Команда и управление людьми
.video-wraper
  .video-wraper__video.video-wraper__video2
  .video-wraper__text
    p Мотивирование подчиненных и коллег к участию в улучшениях
.video-wraper
  .video-wraper__video.video-wraper__video3
  .video-wraper__text
    p Навык постоянного личностного развития
.video-wraper
  .video-wraper__video.video-wraper__video4
  .video-wraper__text
    p Принятие на себя лидерства
.video-wraper
  .video-wraper__video.video-wraper__video5
  .video-wraper__text
    p Личная эффективность
.video-wraper
  .video-wraper__video.video-wraper__video6
  .video-wraper__text
    p Факторы влияющие на вовлеченность в коллективе
