.preview__wrapper
    h1(id='link-four') Оставьте отзыв о вашем использовании!
    form(action='' method='post')
        p
            textarea(name='text')
                | Напишите ваш отзыв...
        p
            input(type='submit' value='Отправить')
