.slick-select.pinned
    .slick-select__header
        p Сортировать:
        span по дате
        .slick-select__header-arrow
    .slick-select__body
        select.js-select-right
            option(value='project') Проект
            option(value='1') 1
            option(value='2') 2
        select.js-select-right
            option(value='project') Статус
            option(value='1') 1
            option(value='2') 2
        select.js-select-right
            option(value='project') Приоритет
            option(value='1') 1
            option(value='2') 2
        select.js-select-right
            option(value='project') Автор
            option(value='1') 1
            option(value='2') 2
        select.js-select-right
            option(value='project') Участие
            option(value='1') 1
            option(value='2') 2
        select.js-select-right
            option(value='project') Проект
            option(value='1') 1
            option(value='2') 2

