footer.footer
    .footer-block
        .footer-block__top-side
            .footer-block__top-side--left
                span a
                p 75 Arlington St. Suite 500 Boston, MA 02116, USA
                a.num(href='tel:+08801912704287') +088 01912704287
                a.eml(href='mailto:infooffice@gmail.com?subject=') infooffice@gmail.com
                div.facebook
                div.in
                div.earth
                div.twit
            .footer-block__top-side--center
                h1 Company
                ul
                    li
                        a(href='') About
                        a(href='') Contact
                        a(href='') Home
                        a(href='') Insights
                        a(href='') Services & Clients
                        a(href='') Work
            .footer-block__top-side--right
                h1 Solution
                ul
                    li
                        a(href='') Digital maeketing
                        a(href='') Phototype
                        a(href='') Development
                        a(href='') Design
                        a(href='') Business Strategy
                        a(href='') Agency protfolio
        .footer-block__bot-side
            p Copyrights 2019 Template_mr Template
            .footer-block__bot-side--mobile-block
                span Mobile Apps :
                div.apple
                div.play
            div.footer-links
                a Privacy Policy
                a Customer Support
                a Careers
